:root {
    --bar_bg_opacity: 0.1;
    --bar_fg_opacity: 0.67;
    --border-dark: #48494A;
    --border-footer-dark: #5C5D5E;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    color: #202122;
    line-height: 1.65;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
}

body, main.home h2 {
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Lato','Helvetica','Arial',sans-serif;
}

header, footer {
    background-color: #EAECF0;
}

a {
    color: #36C;
    text-decoration: none;
}

footer a {
    color: #36C;
}

.infobox, .categories, .figure-frame {
    border: 1px solid #eaecf0;
    background-color: #f8f9fa;
}

main > *, .inner-header, .inner-footer {
    max-width: 672px;
    margin: auto;
    overflow: hidden;
}

main, footer {
    padding: 16px 20px;
}

main {
    display: flex;
}

main.home {
    flex-direction: column;
}

main.home > * {
    max-width: unset;
}

.home .header {
    display: inline-block;
}

.home .logo {
    width: 96px;
    opacity: 0.75;
    float: left;
}

main.home .title {
    margin-left: 8px;
    float: right;
}

main.home h1, main.home h2 {
    border-bottom: none;
}

main.home h1 {
    margin: 5px 0 0 0;
    padding-bottom: 0;
    opacity: 0.9;
}

main.home h2 {
    opacity: 0.75;
    margin-top: 0;
    padding-top: 0;
}

.stub {
    display: inline-block;
    color: inherit;
    filter: grayscale(100%);
    width: 160px;
    margin: auto;
}

.home .stub {
    width: 72px;
    margin: 0 16px;
}

.stub:hover {
    opacity: 1;
    text-decoration: none;
    filter: grayscale(0%);
}

.stub img {
    width: 100%;
}

.stub .label {
    margin-top:0.5rem;
    font-weight: 500;
    text-align: center;
}

header {
    display: flex;
    height: 54px;
    padding: 0 20px;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,0.08);
}

main, article, .inner-header {
    flex-grow: 1;
}

.site-title {
    display: block;
    color: inherit;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

header .site-title {
    opacity: 0.67;
}

.site-title::first-letter {
    font-size: 133%;
    font-weight: 500;
}

.site-title:hover {
    text-decoration: none;
}

footer {
    border-top: thin solid #c8ccd1;
    font-size: 0.875em;
}

.inner-footer {
    padding-top: 0.5em;
}

footer .site-title {
    border-bottom: thin solid #c8ccd1;
    padding-bottom: 8px;
    margin-bottom: 9px;
}

footer div, footer ul {
    margin-bottom: 9px;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 0.4em 0 0;
    padding: 0;
}

footer li::after {
    content: '•';
    padding-left: 0.6em;
    font-size: 1.1em;
    line-height: 1;
    opacity: 0.67;
}

footer li:last-of-type::after {
    content: '';
}

h1, h2 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    font-weight: normal;
    border-bottom: thin solid #eaecf0;
}

h1 {
    font-size: 1.7em;
    padding: 0.25em 0;
    margin: 0 0 0.5em 0;
}

h2 {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em 0;
    margin: 0.5em 0;
}

h3 {
    margin-bottom: 0.5em;
}

p {
    margin: 0.5em 0 1em 0;
}

a.external {
    background-image: url(img/external-link-icon.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 0.75rem;
}

a:hover {
    text-decoration: underline;
}

/** Place page **/

.lede {
    order: 1;
}

.article-body {
    order: 2;
}

.infobox {
    order: 3;
}

.see-also {
    order: 4;
}

.article-body {
    margin-bottom: 14px;
}

img.inline-img {
    width: 200px;
    margin: 0 auto 1.5em auto;
    display: block;
}

.figure {
    display: inline-block;
}

.figure-frame {
    padding: 3px;
    margin: 5px auto 15px auto;
    box-sizing: border-box;
}

.figure-frame img {
    width: 100%;
}

.figure-background {
    border: thin solid #EAECF0;
    background-color: white;
    display: flex;
}

.figure iframe {
    width: 100%;
    border: none;

}

figcaption {
    line-height: 1.45em;
    padding: 5px;
    font-size: 0.825em;
}

.infobox {
    min-width: 220px;
    margin: 0.25rem 0 1rem 0;
    font-size: 90%;
    border-spacing: 0;
}

.infobox th {
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
}

.infobox .purchase td, .infobox .rating td {
    text-align: left;
}

.infobox .purchase td {
    padding-left: 12px;
}

.infobox th, .infobox td {
    padding: 0 10px;
}

.infobox th.title, .infobox .place-image {
    border-bottom: 1px solid #eaecf0;
    padding: 7px 10px;
}

.infobox tbody:first-child tr:first-child > * {
    padding-top: 8px;
}

.infobox tbody:last-child tr:last-child > * {
    padding-bottom: 7px;
}

.infobox .main-info tr:first-child > * {
    padding-top: 8px;
}

.infobox .main-info tr:last-child > * {
    padding-bottom: 6px;
}

.infobox th.title {
    font-weight: bold;
    text-align: center;
}

.infobox .title {
    text-align: center;
    font-size: 125%;
}

.infobox figure {
    margin: 0;
}

.infobox img, .infobox picture {
    display: block;
    width: 200px;
    margin: auto;
}

.infobox .place-image img, .infobox .place-image picture {
    height: 200px;
}

.infobox .header {
    text-align: center;
    padding-top: 10px;
    border-top: thin solid #EAECF0;
}

.infobox figcaption {
    padding-top: 0.2em;
    text-align: center;
}

.infobox .site-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.star {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-bottom: 2px;
}

code {
    background-color: #F8F9FA;
    font-size: 1.25em;
    padding: 0 0.25ex;
    display: inline-block;
}

.distro.figure iframe {
    height: 273px;
}

@media screen and (max-width: 561px) { /* Mobile */
    main.home h1 {
        font-size: 2.2rem;
    }
    main.home h2 {
        font-size: 0.9rem;
    }
    article {
        display: flex;
        flex-direction: column;
    }
    .infobox {
        width: 100%;
    }
    main ul {
        margin: 0.5em 0 0 0.1em;
        padding: 0 0 0 1em;
    }
    main li {
        margin-bottom: 0.5em;
    }
    .figure {
        width: 100%;
    }
}

@media screen and (min-width: 562px) { /* Desktop */
    main.home h1 {
        font-size: 2.4rem;
    }
    main.home h2 {
        font-size: 1rem;
    }
    .infobox {
        float: right;
        margin-left: 20px;
    }
    main ul {
        margin: 0.5em 0 0.5em 1.6em;
        padding: 0;
    }
    main li {
        margin-bottom: 0.1em;
    }
    .figure {
        width: 280px;
        max-width: 100%;
    }
}

#amazon-strip {
    width: 100%;
    clear: both;
}

nav.categories {
    clear: both;
    order: 4;
    padding: 6px 10px 7px 10px;
    margin-top: 1.75em;
    font-size: 0.9em;
    line-height: 1.6;
}

nav.categories .divider {
    font-size: 1em;
    opacity: 0.25;
    font-weight: 200;
}

.viz-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.viz {
    width: 100%;
    padding: 2px 16px 2px 8px;
    box-sizing: border-box;
}

.viz .bar {
    box-sizing: border-box;
    padding-right: 1rem;
}

.viz .bar > div {
    padding: 1px 0 1px 6px;
    overflow: visible;
    margin: 7px 0;
    white-space: nowrap;
    font-size: 0.9em;
    box-sizing: border-box;
}

.viz .location {
    background-color: rgba(255, 63, 160, var(--bar_bg_opacity));
}

.viz .neighbor {
    background-color: rgba(63, 169, 245, var(--bar_bg_opacity));
}

.viz .city {
    background-color: rgba(160, 100, 255, var(--bar_bg_opacity));
}

.viz .country {
    background-color: rgba(255, 147, 30, var(--bar_bg_opacity));
}

.viz .location > div {
    background-color: rgba(255, 63, 160, var(--bar_fg_opacity));
}

.viz .neighbor > div {
    background-color: rgba(63, 169, 245, var(--bar_fg_opacity));
}

.viz .city > div {
    background-color: rgba(160, 100, 255, var(--bar_fg_opacity));
}

.viz .country > div {
    background-color: rgba(255, 147, 30, var(--bar_fg_opacity));
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202122;
        color: white;
    }
    header, footer {
        background-color: #444;
    }
    a {
        color: #6BF;
        text-decoration: none;
    }

    h1, h2 {
        border-bottom: thin solid var(--border-dark);
    }

    footer a {
        color: #6BF;
    }

    footer {
        border-top: thin solid var(--border-footer-dark);
    }

    footer .site-title {
        border-bottom: thin solid var(--border-footer-dark);
    }

    .site-title::first-letter {
        -webkit-text-stroke-color: white;
    }

    .figure-background {
        border: thin solid var(--border-dark);
        background-color: #202122;
    }

    .infobox, .categories, .figure-frame {
        border: 1px solid var(--border-dark);
        background-color: #333;
    }
    .infobox th.title, .infobox .place-image {
        border-bottom: 1px solid var(--border-dark);
    }

    .infobox .header {
        border-top: thin solid var(--border-dark);
    }
}
